<configuration>
	<property name="LOG_DIR" value="/sdcard/data/de.eidottermihi.rpicheck" />

	<!-- Create a logcat appender -->
	<appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
		<encoder>
			<pattern>%msg</pattern>
		</encoder>
	</appender>

	<!-- Create a file appender -->
	<appender name="infoLog" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/rpicheck.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="net.schmizz" level="WARN">
	    <appender-ref ref="infoLog"/>
	</logger>
	<logger name="de.eidottermihi.rpicheck" level="DEBUG">
	    <appender-ref ref="infoLog"/>
	</logger>

	<root level="TRACE">
		<appender-ref ref="logcat" />
	</root>
</configuration>