<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.eidottermihi.raspicheck"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="42">

    <!-- for SSH connection -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- reading specified private key files for ssh connection, see NoNonsense-FilePicker docs -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.rpiCheck.Dark"
        >
        <activity
            android:name="de.eidottermihi.rpicheck.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.eidottermihi.rpicheck.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.eidottermihi.rpicheck.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.eidottermihi.rpicheck.activity.MainActivity"/>
        </activity>
        <activity
            android:name="de.eidottermihi.rpicheck.activity.NewRaspiActivity"
            android:label="@string/title_activity_new_raspi"
            android:parentActivityName="de.eidottermihi.rpicheck.activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.eidottermihi.rpicheck.activity.MainActivity"/>
        </activity>
        <activity
            android:name="de.eidottermihi.rpicheck.activity.NewRaspiAuthActivity"
            android:label="@string/title_activity_new_raspi"
            android:parentActivityName="de.eidottermihi.rpicheck.activity.NewRaspiActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.eidottermihi.rpicheck.activity.NewRaspiActivity"/>
        </activity>
        <activity
            android:name="de.eidottermihi.rpicheck.activity.EditRaspiActivity"
            android:label="@string/activity_title_edit_raspi"
            android:parentActivityName="de.eidottermihi.rpicheck.activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.eidottermihi.rpicheck.activity.MainActivity"/>
        </activity>
        <activity
            android:name="de.eidottermihi.rpicheck.activity.CustomCommandActivity"
            android:label="@string/activity_title_commands"
            android:launchMode="singleTop"
            android:parentActivityName="de.eidottermihi.rpicheck.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.eidottermihi.rpicheck.activity.MainActivity"/>
        </activity>
        <activity
            android:name="de.eidottermihi.rpicheck.activity.NewCommandActivity"
            android:label="@string/activity_title_new_command"
            android:parentActivityName="de.eidottermihi.rpicheck.activity.CustomCommandActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.eidottermihi.rpicheck.activity.CustomCommandActivity"/>
        </activity>

        <!-- FilePicker Library (without Intent Filter)-->
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
        </activity>

        <receiver android:name="de.eidottermihi.rpicheck.widget.OverclockingWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/overclocking_widget_info"/>
        </receiver>

        <activity android:name="de.eidottermihi.rpicheck.widget.OverclockingWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <service android:name="de.eidottermihi.rpicheck.widget.WidgetUpdateService"/>

    </application>

</manifest>
